<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tr class="table-active">
            <td>nom</td>
            <td>prenom</td>
            <td>age</td>
        </tr>
        {% for per in tableau  %}
        <tr class="table-{% if loop.index is odd%}success{% else %}info{% endif %}">
            <td>{{ per.nom }}</td>
            <td>{{ per.prenom }}</td>
            <td>{{ per.age }}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>