{% extends 'base.html.twig' %}

{% block body %}


    <h5> la piece est de type : {{ piece.identifiant }} </h5>
    <h5> la piece est de num:  {{ piece.type }}</h5>

{% endblock %}

{% block title %}
piece
{% endblock %}

